
:root {

  --header-bg : #fff;
  --body-bg : #eef0f1;
  --box-bg : #fff;
  --header-shadow : rgba(0, 0, 0, 0.1);

  --text-hover-bg : #eff0f1;

  --text-white :#fff;
  --text-blue : #323ebe;
  --btn-blue : #323ebe;
  --border-blue : #323ebe;
  --hover-blue : #dedff5;
  --light-blue-bg : #dedff5;


  --danger-color : #dc1818;
  --danger-bg : rgba(248,81,73,0.1);
  --save-bg : rgba(65, 179, 224, 0.1);
  --save-color : #1DA1F2;

  --error-alert-text : #ff5a4e;
  --error-alert-bg : rgba(248,81,73,0.1);
  --error-alert-border : rgba(248,81,73,0.4);
  --success-alert-text : #4cbb59;
  --success-alert-bg : rgba(46,160,67,0.1);
  --success-alert-border : rgb(52, 180, 76);

  --black-025: #fafafb;
  --black-050: #eff0f1;
  --black-075: #e4e6e8;
  --black-100: #d6d9dc;
  --black-150: #c8ccd0;
  --black-200: #bbc0c4;
  --black-300: #9fa6ad;
  --black-350: #9199a1;
  --black-400: #848d95;
  --black-500: #6a737c;
  --black-600: #535a60;
  --black-700: #242c37;
  --black-750: #2f3337;
  --black-800: #151a21;
  --black-900: #191b1d;


  /* dark theme */

  --header-bg : #161616;
  --box-bg : #161616;
  --body-bg : black;
  --header-shadow : rgba(0, 0, 0, 0.1);
  
  --header-logo-bg : #136ea7;
  --header-logo-color : #fff;

  --text-hover-bg : #3d3d3d;
  --dark-border : #1b1b1b;
  --text-hover-color : #fff;

  --text-color-light : #fff;
  --text-color-dark : #191b1d;
  --text-blue : #1DA1F2;
  --text-border : #1DA1F2;

  --btn-blue-bg : #136ea7;
  --btn-light-bg : #3d3d3d;

  --like-color : #F35F5F;

  --medium-font-size : 500;
  --light-font-size : 400;
  --dark-font-size : 600;
  --strong-font-size : 700;
  --strongest-font-size : 800;
  
  --inter-text : 'Inter', sans-serif;
  --ff-san : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

}



.main_page
{
  width: 100%;
  background-color: var(--dark-theme-body-background);
}
.main_body
{
  padding : 20px 10px;
  margin-top: 55px;
  background-color: var(--body-bg);
  min-height: 100vh !important;
}

/* common css */

table {
  margin : 25px 0px !important;
}

thead
{
  background-color: var(--body-bg) !important;
  border : 1px solid var(--black-700) !important;
}
thead > tr > th 
{
  padding : 7px 12px !important;
  color : var(--black-100);
  /* text-align: left !important; */
  border-left : 1px solid var(--black-700) !important;
}

tbody
{
  border : 1px solid var(--black-700) !important;
}
tbody > tr > td 
{
  padding : 12px 12px !important;
  text-align: left !important;
  color : var(--black-100);
  border-left: 1px solid var(--black-700);
  border-bottom: 1px solid var(--black-700);
}

h1, h2, h3, h4, h5, h6 
{
  font-weight: 700;
  font-family: var(--inter-text);
  padding : 14px 0px 5px 0px !important;
  color : var(--black-025);
}
p 
{
  color : var(--text-color-light);
  font-weight: 400;
  font-family: var(--ff-san);
  font-size: 1.15rem;
  word-spacing: 2px;
  padding : 5px 0px 5px 4px !important;
  line-height: 31px;
}
ol > li
{
  color : var(--black-800);
  font-family: var(--ff-san);
  font-size: 1.15rem;
  font-weight: 400;
  padding-top : 6px;
  color : var(--text-color-light);
}
ul > li
{
  color : var(--black-800);
  font-family: var(--ff-san);
  font-size: 1.15rem;
  font-weight: 400;
  padding-top: 6px;
  color : var(--text-color-light);
}
pre
{
  margin : 15px 0px;
}

.highlight 
{
  color : var(--text-blue) !important;
}
.anchor 
{
  cursor: pointer;
  text-decoration: none;
}
.light_text
{
  color : var(--black-600);
}
.active_icon
{
  color : var(--danger-color) !important;
}

.success_alert
{
  margin : 14px 0px 10px 0px;
  padding : 9px 10px;
  font-size: .9rem;
  font-family: var(--inter-text);
  font-weight: 400;
  letter-spacing: 0.005rem;
  background-color: var(--success-alert-bg);
  color: var(--success-alert-text);
  border: 1px solid var(--success-alert-border);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.alert_cancel_container
{
  margin-left: auto !important;
  padding : 5px;
  cursor: pointer !important;
}
.alert_cancel
{
  width : 12px !important;
  font-size: 1rem !important;
  margin-left: auto !important;
}
.failure_alert
{
  margin : 10px 0px 10px 0px;
  padding : 9px 10px;
  font-size: .9rem;
  font-family: var(--inter-text);
  font-weight: 500;
  background-color: var(--error-alert-bg);
  color: var(--error-alert-text);
  border: 1px solid var(--error-alert-border);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.zero_post_message
{
  padding : 8px 8px;
  font-family: var(--inter-text);
  font-size: .9rem;
  font-weight: 500;
  border-radius: 6px;
  background-color: var(--light-blue-bg);
  letter-spacing: 0.005rem;
  color : var(--black-700);
}
.not_available_message 
{
  margin-top: 35px;
  text-align: center;
  color: var(--black-300);
  font-size: .940rem;
  font-family: var(--inter-text);
  font-weight: 500;
}

@media(max-width:750px)
{
  .main_body { padding : 20px 0px }
}
@media(max-width:350px)
{
  .main_body { padding : 45px 0px }
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
