
:root {

  --header-bg : #fff;
  --body-bg : #eef0f1;
  --box-bg : #fff;
  --header-shadow : rgba(0, 0, 0, 0.1);

  --text-white :#fff;
  --text-blue : #323ebe;
  --btn-blue : #323ebe;
  --border-blue : #323ebe;

  --danger-color : #dc1818;
  --danger-bg : #fce9e9;

  --black-025: #fafafb;
  --black-050: #eff0f1;
  --black-075: #e4e6e8;
  --black-100: #d6d9dc;
  --black-150: #c8ccd0;
  --black-200: #bbc0c4;
  --black-300: #9fa6ad;
  --black-350: #9199a1;
  --black-400: #848d95;
  --black-500: #6a737c;
  --black-600: #535a60;
  --black-700: #242c37;
  --black-750: #2f3337;
  --black-800: #151a21;
  --black-900: #191b1d;

  
  --inter-text : 'Inter', sans-serif;

}



.main_page
{
  width: 100%;
  background-color: var(--dark-theme-body-background);
}
.main_body
{
  padding : 20px 10px;
  margin-top: 57px;
  background-color: var(--body-bg);
  min-height: 100vh !important;
}

/* common css */

table {
  margin : 25px 0px !important;
}

thead
{
  background-color: var(--black-050) !important;
  border : 1px solid var(--black-100) !important;
}
thead > tr > th 
{
  padding : 7px 12px !important;
  /* text-align: left !important; */
  border-left : 1px solid var(--black-100) !important;
}

tbody
{
  border : 1px solid var(--black-100) !important;
}
tbody > tr > td 
{
  padding : 12px 12px !important;
  text-align: left !important;
  border-left: 1px solid var(--black-100);
  border-bottom: 1px solid var(--black-100);
}

h1, h2, h3, h4, h5, h6 
{
  padding : 10px 0px 5px 0px !important;
  letter-spacing: 0px !important;
}
p 
{
  padding : 5px 0px 5px 4px !important;
  line-height: 15px;
}
ol > li
{
  padding-top : 10px;
}
ul > li
{
  padding-top: 10px;
}
pre
{
  margin : 15px 0px;
}

.highlight 
{
  color : var(--text-blue) !important;
}

.light_text
{
  color : var(--black-200);
}
.active_icon
{
  color : var(--danger-color) !important;
}

@media(max-width:750px)
{
  .main_body { padding : 20px 0px }
}
@media(max-width:350px)
{
  .main_body { padding : 45px 0px }
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
