/* home left panel */

.home_left_dev_container
{
    padding : 20px 15px;
    border-radius: 6px;
    background-color: var(--box-bg);
    box-shadow: 0 10px 30px -10px rgb(0 64 128 / 20%);
}
.home_left_dev_heading
{
    font-family: var(--inter-text);
    font-size: 1.125rem;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.020rem;
    color : var(--black-900);
}
.home_left_dev_info
{
    padding : 15px 0px;
    color : var(--black-700);
    font-family: var(--inter-text);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 26px;
}
.home_left_dev_login
{
    width: 100%;
    margin : 8px 0px 10px 0px;
    text-align: center;
    border: none;
    border-radius: 6px;
    padding : 8px 10px;
    font-family: var(--inter-text);
    font-size: 0.950rem;
    transition: 0.5s all ease-in-out;
}
.home_left_dev_login a
{
    text-decoration: none;
    color : var(--text-blue);
    font-weight: 600;
}
.home_left_dev_login:focus
{
    outline: none;
}
.home_left_dev_login:hover
{
    background-color: var(--black-050);
}

/* home middle panel */

.home_middle_head_container
{
    display: flex;
    align-items: center;
    padding : 0px 5px 10px 5px;
}
.home_middle_head_info
{
    font-family: var(--inter-text);
    font-size: 1.050rem;
    font-weight: 700;
    color : var(--black-900);
}
.home_middle_post_link
{
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}
.home_middle_post_link:hover .home_middle_post_title
{
    color : var(--text-blue);
}
.home_middle_post_container
{
    width: 100%;
    margin : 10px 0px;
    padding : 20px 15px;
    border : 1px solid var(--black-100);
    background-color: var(--box-bg);
    border-radius: 6px;
    transition: 0.4s all ease-in-out;
}
.home_middle_post_user_container
{
    display: flex;
}
.home_middle_post_user_profile
{
    width : 35px;
    height : 35px;
    border-radius: 50%;
}
.home_middle_post_user_info_display
{
    width: 100%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
}
.home_middle_post_user_name
{
    font-family: var(--inter-text);
    font-size: .960rem;
    font-weight: 500;
    color : var(--black-600);
}
.home_middle_post_date
{
    padding-top: 2px;
    font-family: var(--inter-text);
    font-size: .670rem;
    font-weight: 400;
    color : var(--black-700);
}
.home_middle_post_title
{
    padding : 12px 0px 5px 0px;
    font-weight: 700;
    font-size: 1.760rem;
    color : var(--black-900);
    transition: 0.4s all ease-in-out;
}
.home_middle_post_tag_display
{
    display: flex;
    flex-wrap: wrap;
}
.home_middle_post_tag
{
    padding : 8px 12px 10px 3px;
    font-family: var(--inter-text);
    font-size: .750rem;
    color : var(--black-500);
    font-weight: 500;
    letter-spacing: 0.010rem;
}
.home_middle_post_reaction_container
{
    display: flex;
    align-items: center;
    padding : 7px 0px 0px 0px;
}
.home_middle_post_like_bg
{
    padding-top: 4px;
    text-align: center;
    width : 35px;
    height : 35px;
    border-radius: 50%;
    transition: 0.4s all ease-in-out;
}
.home_middle_post_like_icon
{
    width: 17px !important;
    font-size: 1.7rem !important;
    color : var(--black-300);
    font-weight: 700;
    transition: 0.4s all ease-in-out;
}
.home_middle_post_like_icon_active
{
    width: 17px !important;
    font-size: 1.7rem !important;
    color : var(--danger-color);
    font-weight: 700;
    transition: 0.4s all ease-in-out;
}
.home_middle_post_like_count
{
    padding-left: 7px;
    font-family: var(--inter-text);
    font-size: .820rem;
    font-family: 500;
    word-spacing: 3px;
    color: var(--black-700);
}
