/* home left panel */

.home_left_dev_main
{
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top : 75px;
}

.home_left_dev_container
{
    padding : 20px 15px;
    border-radius: 6px;
    background-color: var(--box-bg);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25),0px 4px 4px rgba(0,0,0,0.3);
    /* border: 1px solid var(--black-100); */
}
.home_left_dev_heading
{
    font-family: var(--inter-text);
    font-size: 1.125rem;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.020rem;
    color : var(--black-050);
}
.home_left_dev_info
{
    padding : 15px 0px;
    color : var(--black-100);
    font-family: var(--ff-san);
    font-weight: 400;
    font-size: 0.950rem;
    line-height: 25px;
}
.home_left_dev_login
{
    width: 100%;
    margin : 8px 0px 10px 0px;
    text-align: center;
    border: none;
    border-radius: 6px;
    padding : 8px 10px;
    font-family: var(--inter-text);
    background-color: var(--btn-light-bg);
    font-size: 0.950rem;
    transition: 0.5s all ease-in-out;
}
.home_left_dev_login a
{
    text-decoration: none;
    color : var(--text-blue);
    font-weight: 600;
}
.home_left_dev_login:focus
{
    outline: none;
}

.home_left_dev_popular_container
{
    margin : 25px 0px;
    height : 250px;
    overflow-y: scroll;
}
.home_left_dev_popular_heading
{
    position: sticky;
    position: -webkit-sticky;
    top : 0px;
    bottom: 0px;
    padding : 5px 2px;
    font-family: var(--ff-san);
    font-weight: 700;
    background-color: var(--body-bg);
    font-size: 1.1rem;
    letter-spacing: 0.020rem;
    z-index: 20;
    color : var(--black-100);
}

.home_left_dev_popular_container .home_left_dev_popular_list
{
    margin : 15px 0px;
    padding : 0px 3px;
    list-style: none;
    font-family: var(--ff-san);
    font-size: .960rem;
    font-weight: 400;
    color : var(--black-300)
}

/* home middle panel */

.home_middle_head_container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_middle_post_select
{
    background-color: var(--box-bg);
    padding: 7px 20px;
    border-radius: 6px;
    border: none;
    font-family: var(--inter-text);
    font-size: .950rem;
    font-weight: 500;
    color : var(--black-100);
    cursor: pointer;
}
.home_middle_post_select:focus
{
    outline: none;
}
.home_middle_post_select select
{
    padding-top: 4px;
}
.home_middle_post_select .options
{
    color : var(--black-100);
    border: none;
    cursor: pointer;
}
.home_middle_head_info
{
    font-family: var(--ff-san);
    font-size: 1.180rem;
    letter-spacing: 0.020rem;
    font-weight: 700;
    color : var(--black-100);
}

.home_middle_head_date_conatiner
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.home_middle_head_date_container_mobile
{
    display: none;
}
.home_middle_head_date_conatiner > .home_middle_head_date_name
{
    margin-right: 5px;
    padding : 7px 10px;
    border-radius: 6px;
    font-family: var(--ff-san);
    font-size: .970rem;
    font-weight: 500;
    border-bottom: 3px solid var(--body-bg);
    color : var(--black-200);
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.home_middle_head_date_conatiner > .home_middle_head_date_name.active
{
    color : var(--text-blue);
    border-bottom: 3px solid var(--text-border);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.4s all ease-in-out;
}
.home_middle_head_date_conatiner > .home_middle_head_date_name:hover
{
    background-color: var(--text-hover-bg);
    color : var(--text-blue);
}
.home_middle_post_link
{
    cursor: pointer;
    text-decoration: none;
    margin-top: 3px;
    transition: 0.4s all ease-in-out;
}
.home_middle_post_link:hover .home_middle_post_title
{
    color : var(--text-blue);
}
.home_middle_post_container
{
    width: 100%;
    margin : 10px 0px;
    padding : 20px 15px;
    /* border : 1px solid var(--black-100); */
    background-color: var(--box-bg);
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25),0px 4px 4px rgba(0,0,0,0.3);
    transition: 0.4s all ease-in-out;
}
.home_middle_post_user_container
{
    display: flex;
}
.home_middle_post_user_profile
{
    width : 35px;
    height : 35px;
    border-radius: 50%;
}
.home_middle_post_user_info_display
{
    width: 100%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
}
.home_middle_post_user_header_main_container
{
    display: flex;
    margin-left: 5px;
}
.home_middle_post_user_subheader
{
    display: flex;
    flex-direction: column;
}
.home_middle_post_header_icon_container
{
    display: flex;
    margin-left: auto;
}
.home_middle_post_user_name
{
    font-family: var(--inter-text);
    font-size: .960rem;
    font-weight: 500;
    color : var(--black-300);
}
.home_middle_post_date
{
    padding-top: 2px;
    font-family: var(--inter-text);
    font-size: .670rem;
    font-weight: 400;
    color : var(--black-300);
}
.home_middle_post_title
{
    padding : 12px 0px 5px 0px;
    font-weight: 700;
    font-size: 1.760rem;
    color : var(--black-100);
    transition: 0.4s all ease-in-out;
}
.home_middle_post_tag_display
{
    display: flex;
    flex-wrap: wrap;
}
.home_middle_post_tag
{
    padding : 8px 12px 10px 3px;
    font-family: var(--inter-text);
    font-size: .750rem;
    color : var(--black-400);
    font-weight: 500;
    letter-spacing: 0.010rem;
}
.home_middle_post_reaction_container
{
    display: flex;
    align-items: center;
    padding : 7px 0px 0px 0px;
}
.home_middle_post_like_bg
{
    padding-top: 4px;
    text-align: center;
    width : 35px;
    height : 35px;
    border-radius: 50%;
    transition: 0.4s all ease-in-out;
}
.home_middle_post_like_icon
{
    width: 17px !important;
    font-size: 1.7rem !important;
    color : var(--black-200);
    font-weight: 700;
    transition: 0.4s all ease-in-out;
}

.home_middle_post_edit_icon
{
    width: 17px !important;
    font-size: 1.7rem !important;
    color : var(--black-100);
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.home_middle_post_edit_icon:hover
{
    color : var(--text-blue) !important;
}
.home_middle_post_delete_icon
{
    width: 17px !important;
    font-size: 1.7rem !important;
    color : var(--black-100);
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.home_middle_post_delete_icon:hover
{
    color : var(--danger-color);
}
.home_middle_post_like_icon_active
{
    width: 17px !important;
    font-size: 1.7rem !important;
    color : var(--danger-color);
    font-weight: 700;
    transition: 0.4s all ease-in-out;
}
.home_middle_post_like_count
{
    padding-left: 4px;
    font-family: var(--inter-text);
    font-size: .820rem;
    font-family: 500;
    word-spacing: 3px;
    color: var(--black-300);
}

@media(max-width : 765px) {
    .home_left_dev_main { display: none; }
    .home_middle_head_date_conatiner {display: none;}
    .home_middle_head_date_container_mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .home_middle_post_container {
        padding: 20px 5px;
    }
}
