.model_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2000;
    transition: 0.5s all ease-in-out;
}

.model_container
{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    background-color: var(--header-bg);
}
.model_head_container
{
    padding : 0px 0px 15px 0px;
    display: flex;
    align-items: center;
}
.model_show_border
{
    border-bottom: 2px solid var(--black-800);
}
.model_head_heading
{
    font-family: var(--ff-san);
    font-weight: 700;
    font-size: 1.5rem;
    color : var(--black-100);
}
.medium_font
{
    font-size: 1.2rem !important;
    font-weight: 500 !important;
}
.model_head_cancel_icon
{
    width: 14px !important;
    font-size: 1.4rem !important;
    color : var(--black-500);
    font-weight: 700;
    transition: 0.4s all ease-in-out;
}
.model_body_container
{
    padding : 25px 0px;
}
.model_body_logo
{
    padding : 8px 15px;
    max-width: 110px;
    border-radius: 6px;
    font-family: var(--inter-text);
    color : var(--text-white);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.050rem;
    text-decoration: none;
    background-color: var(--black-750);
}
.model_body_content
{
    padding : 18px 0px;
    font-family: var(--ff-san);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.010rem;
    color : var(--black-150);
}
.model_body_btn
{
    border : none;
    border-radius: 6px;
    margin : 10px 0px 0px 0px;
    padding : 8px 0px;
    background-color: var(--btn-light-bg);
    width: 100%;
    font-family: var(--inter-text);
    font-size: 1rem;
    font-weight: 600;
    color : var(--text-blue);
}
.model_footer_container
{
    margin : 15px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
}
.model_footer_cancel_btn
{
    margin-right: 15px;
    border: none;
    border-radius: 6px;
    padding : 6px 10px;
    background-color: var(--black-700);
    font-family: var(--inter-text);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: .010rem;
    color : var(--text-white);
}
.model_footer_cancel_btn:focus
{
    outline: none;
}
.model_footer_ok_btn
{
    border: none;
    border-radius: 6px;
    padding : 6px 10px;
    background-color: var(--btn-blue-bg);
    font-family: var(--inter-text);
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .010rem;
    color : var(--text-white);
}
.model_footer_ok_btn:focus
{
    outline: none;
}

@media(max-width : 600px) {
    .model_container{width : 90%}
}
