.model_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2000;
    transition: 0.5s all ease-in-out;
}

.model_container
{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    background-color: var(--header-bg);
}
.model_head_container
{
    padding : 0px 0px 15px 0px;
    display: flex;
    align-items: center;
}
.model_show_border
{
    border-bottom: 2px solid var(--black-800);
}
.model_head_heading
{
    font-family: var(--ff-san);
    font-weight: 700;
    font-size: 1.5rem;
    color : var(--black-100);
}
.medium_font
{
    font-size: 1.2rem !important;
    font-weight: 500 !important;
}
.model_head_cancel_icon
{
    width: 14px !important;
    font-size: 1.4rem !important;
    color : var(--black-500);
    font-weight: 700;
    transition: 0.4s all ease-in-out;
}
.model_body_container
{
    padding : 25px 0px;
}
.model_body_logo
{
    padding : 8px 15px;
    max-width: 110px;
    border-radius: 6px;
    font-family: var(--inter-text);
    color : var(--text-white);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.050rem;
    text-decoration: none;
    background-color: var(--black-750);
}
.model_body_content
{
    padding : 18px 0px;
    font-family: var(--ff-san);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.010rem;
    color : var(--black-150);
}
.model_body_btn
{
    border : none;
    border-radius: 6px;
    margin : 10px 0px 0px 0px;
    padding : 8px 0px;
    background-color: var(--btn-light-bg);
    width: 100%;
    font-family: var(--inter-text);
    font-size: 1rem;
    font-weight: 600;
    color : var(--text-blue);
}
.model_footer_container
{
    margin : 15px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
}
.model_footer_cancel_btn
{
    margin-right: 15px;
    border: none;
    border-radius: 6px;
    padding : 6px 10px;
    background-color: var(--black-700);
    font-family: var(--inter-text);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: .010rem;
    color : var(--text-white);
}
.model_footer_cancel_btn:focus
{
    outline: none;
}
.model_footer_ok_btn
{
    border: none;
    border-radius: 6px;
    padding : 6px 10px;
    background-color: var(--btn-blue-bg);
    font-family: var(--inter-text);
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .010rem;
    color : var(--text-white);
}
.model_footer_ok_btn:focus
{
    outline: none;
}

.model_form_container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: var(--header-bg);
}

.model_form_container::-webkit-scrollbar 
{
    width: 4px;
    border-radius: 0px;
    background-color: var(--header-bg);
}

.model_form_container::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.model_form_container::-webkit-scrollbar-thumb 
{
    -webkit-border-radius: 10px;
    border-radius: 20px;
    background: var(--black-600); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.model_form_heading
{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: var(--inter-text);
    color : var(--text-white);
}
.model_form_input_container
{
    width: 100%;
}
.model_form_input_label
{
    padding: 10px 0px;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 0.010rem;
    font-family: var(--inter-text);
    color: var(--black-300);
}
.model_form_input_field
{
    margin: 5px 0px;
    padding: 10px 8px;
    border: none;
    background-color: var(--header-bg);
    border-radius: 6px;
    font-family: var(--inter-text);
    font-size: .930rem;
    letter-spacing: 0.015rem;
    color: var(--black-100);
    border: 1px solid var(--black-600);
    width: 100%;
}
.model_form_input_field:focus
{
    outline: none;
    border : 1px solid var(--text-blue)
}
.model_form_edit_btn
{
    margin: 25px 0px 15px 0px;
    border: none;
    border-radius: 6px;
    padding : 6px 15px;
    font-family: var(--inter-text);
    font-size: 1rem; 
    letter-spacing: 0.015rem;
    display: flex;
    margin-left: auto;
    background-color: var(--btn-blue-bg);
    color: var(--text-white);
}
.model_form_edit_btn:disabled
{
    background-color: var(--black-200) !important;
    color: var(--black-900) !important;
}

@media(max-width : 600px) {
    .model_container{width : 90%}
    .model_form_container{width : 90%; top : 50%; left : 50%; transform: translate(-50%, -50%); padding: 20px 10px;}
}
