.post_main
{
    background-color: var(--header-bg);
    padding : 10px 0px;
}
.post_header
{
    border-bottom: 2px solid var(--header-bg);
}
.post_header_list
{
    display: flex;
}
.post_header_info
{
    padding : 10px 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 2px solid var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all ease-in-out;
    cursor: pointer;
}
.post_header_info:hover .post_header_name,
.post_header_info:hover .post_header_icon
{
    transition: 0.4s all ease-in-out;
    color : var(--text-blue) !important;
}
/* .post_header_info:hover
{
    border-bottom: 1px solid var(--border-blue);
}  */
.post_header_info.active
{
    border-bottom: 2px solid var(--text-border);
}
.post_header_info.active .post_header_name,
.post_header_info.active .post_header_icon
{
    color : var(--text-blue) !important;
}
.post_header_icon
{
    width: 16px !important;
    font-size: 1rem !important;
    color : var(--black-300);
    transition: 0.4s all ease-in-out;
}
.post_header_name
{
    padding : 0px 10px 0px 12px;
    font-size: .870rem;
    font-weight: 500;
    font-family: var(--inter-text);
    color : var(--black-200);
}

/* post form */

.post_form
{
    margin : 25px 0px;
}

.post_form_input
{
    width : 100%;
    border-radius: 6px;
    padding : 0px 10px;
    height : 45px;
    font-family: var(--inter-text);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.020rem;
    background-color: var(--body-bg);
    color : var(--text-color-light);
    border : 1px solid var(--black-600);
    transition: 0.4s all ease-in-out;
}
.post_form_input::placeholder
{
    font-size: .820rem;
    font-weight: 400;
    letter-spacing: 0.010rem;
    color : var(--black-300);
}
.post_form_input:focus
{
    outline: none;
    border: 1px solid var(--text-blue);
}
.post_form_input:hover
{
    border: 1px solid var(--text-blue);
}
.post_form_textarea
{
    margin : 20px 0px;
    width : 100%;
    border-radius: 6px;
    padding : 10px 10px;
    min-height: 100vh;
    font-family: var(--inter-text);
    font-size: .950rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color : var(--black-100);
    background-color: var(--body-bg);
    border : 1px solid var(--black-700);
    transition: 0.4s all ease-in-out;
    resize: none;
}
.hide_border
{
    border: none !important;
}
.post_form_textarea::placeholder
{
    font-size: .8rem;
    font-weight: 400;
    color : var(--black-300);
}
.post_form_textarea:focus
{
    outline: none;
    border: 1px solid var(--text-blue);
}
.post_form_textarea:hover
{
    border: 1px solid var(--text-blue);
}
.post_form_publish_btn
{
    margin : 10px 0px;
    padding : 8px 15px;
    display: flex;
    margin-left: auto;
    border : none;
    background-color: var(--btn-blue-bg);
    border-radius: 6px;
    color : var(--text-color-light);
    font-family: var(--inter-text);
    font-weight: 500;
    letter-spacing: 0.010rem;
    font-size: .950rem;
}
.post_form_publish_btn:disabled
{
    background-color: var(--black-100) !important;
    color : var(--black-400) !important;
}
.post_form_publish_btn:focus
{
    outline: none;
}


/* post guide */

.post_guide
{
    margin: 25px 0px;
}
.post_guide_headings
{
    padding : 15px 0px;
    font-size: 1.7rem;
    font-weight: 600;
    color : var(--black-100);
}
.post_guide_info_container
{
    background-color: var(--header-bg);
}
.post_guide_info_table
{
    margin : 20px 0px !important;
}
.post_guide_info_table_head
{
    background-color: var(--body-bg) !important;
    border : 1px solid var(--black-700) !important;
}
.post_guide_info_table_th
{
    padding : 10px 20px !important;
    text-align: left !important;
    color : var(--black-200);
    letter-spacing: 0.020rem;
    border-left : 1px solid var(--black-700) !important;
    border-bottom: none !important;
}
.post_guide_info_table_body
{
    border : 1px solid var(--black-700) !important;
}
.post_guide_info_table_td
{
    padding : 20px 20px !important;
    text-align: left !important;
    color : var(--black-200);
    border-left: 1px solid var(--black-700) !important;
    border-bottom: 1px solid var(--black-700) !important;
}


@media(max-width : 500px) {
    .post_header { overflow-x: scroll; }
}


/* postID page styles */

.post_id_main
{
    margin: 0px;
}

.post_id_left_container
{
    position: sticky;
    position: -webkit-sticky;
    padding: 3px 10px;
    top : 78px;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.post_id_left_icon_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post_id_left_container .post_id_left_icon_container:nth-child(n + 2)
{
    margin-top: 20px;
}
.post_id_left_count
{   
    padding : 5px 0px 5px 0px;
    font-family: var(--inter-text);
    font-size: .950rem;
    font-weight: 500rem;
    color : var(--black-200);
}
.post_id_left_heart_icon_bg
{
    padding-top: 7px;
    text-align: center;
    width : 40px;
    height : 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.post_id_left_heart_icon_bg:hover
{
    background-color: var(--danger-bg);
}
.post_id_left_heart_icon_bg:hover .post_id_left_heart_icon
{
    color : var(--danger-color);
}
.post_id_left_heart_icon
{
    width: 19px !important;
    font-size: 1.7rem !important;
    color : var(--black-500);
    font-weight: 700;
    transition: 0.4s all ease-in-out;
}
.post_id_left_heart_icon_active
{
    width: 19px !important;
    font-size: 1.7rem !important;
    font-weight: 700;
    transition: 0.4s all ease-in-out;
    color : var(--danger-color);
}

.post_id_left_save_icon_bg
{
    padding-top: 5px;
    text-align: center;
    width : 40px;
    height : 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.post_id_left_save_icon_bg:hover
{
    background-color: var(--save-bg);
}
.post_id_left_save_icon_bg:hover .post_id_left_save_icon
{
    color : var(--save-color);
}
.post_id_left_save_icon
{
    width: 19px !important;
    color : var(--black-500);
    font-weight: 700;
    transition: 0.4s all ease-in-out;
}
.post_id_left_save_icon_active
{
    width: 19px !important;
    font-weight: 700;
    transition: 0.4s all ease-in-out;
    color : var(--save-color);
}

/* post id middle comment start */

.post_id_middle_comment_container
{
    margin : 25px 0px;
}
.post_id_middle_comment_heading
{
    padding : 0px 15px 0px 0px;
    font-family: var(--ff-san);
    font-weight: 700;
    font-size: 1.650rem;
    letter-spacing: 0.050rem;
    color: var(--text-color-light);
}

/* post id middle comment end */

.post_id_middle_container
{
    padding : 20px 50px;
    /* border : 1px solid var(--black-100); */
    border-radius: 6px;
    background-color: var(--box-bg);
}
.post_id_middle_head_title
{
    font-size: 3rem !important;
    font-weight: 800;
    font-family: var(--ff-san) !important;
    word-spacing: 5px;
    letter-spacing: 0.035rem;
}
.post_id_middle_head_tag_container
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.post_id_middle_head_tag_name
{
    margin-top: 4px;
    margin-right : 9px;
    padding : 5px 10px;
    border-radius: 6px;
    font-family: var(--inter-text);
    font-size: .800rem;
    font-weight: 500;
    background-color: var(--text-hover-bg);
    color: var(--black-100);
}
.post_id_middle_head_profile_container
{
    margin: 15px 0px;
    padding : 8px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.post_id_middle_head_profile_subhead
{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.post_id_middle_head_profile_image
{
    border-radius: 50%;
    width : 36px;
    height : 36px;
}
.post_id_middle_head_profile_subhead:hover .post_id_middle_head_profile_name
{
    color: var(--text-blue);
}
.post_id_middle_head_profile_name
{
    padding-left: 8px;
    font-family: var(--inter-text);
    font-size: .910rem;
    font-weight: 600;
    letter-spacing: 0.015rem;
    color : var(--black-200);
    transition: 0.4s all ease-in-out;
}
.post_id_middle_head_profile_name a
{
    text-decoration: none;
    color : var(--black-300);
    transition: 0.4s all ease-in-out;
}
.post_id_middle_head_profile_name a:hover
{
    color : var(--text-blue);
}
.post_id_middle_head_profile_date
{
    padding-left: 8px;
    font-family: var(--inter-text);
    font-size: .870rem;
    font-weight: 400;
    color : var(--black-400);
}
.post_id_middle_content_container
{
    padding : 15px 0px;
}

/* post right content */

.post_id_right_container
{
    position: sticky;
    position: -webkit-sticky;
    top : 78px;
    bottom: 0;
}
.post_id_right_user_card_container
{
    border-radius: 6px;
    background-color: var(--box-bg);
    /* border: 1px solid var(--black-100); */
}
.post_id_right_user_card_header
{
    height : 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    /* background-color: var(--black-700); */
}
.post_id_right_user_card_subhead_container
{
    position: relative;
    padding : 25px 20px;
}
.post_id_right_user_card_info
{
    position: absolute;
    top: -13px;
    display: flex;
}
.post_id_right_user_card_profile
{
    border-radius: 50%;
    width: 49px;
    height : 49px;
}
.post_id_right_user_card_name
{
    margin: 18px 0px 0px 10px;
    font-family: var(--ff-san);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black-100);
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.post_id_right_user_card_name:hover
{
    color : var(--text-blue);
}
.post_id_right_body_container
{
    padding : 0px 15px;
}
.post_id_right_body_content
{
    padding : 5px 0px;
    line-height: 25px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.020rem;
    font-family: var(--ff-san);
    color : var(--black-150);
}
.post_id_right_body_btn
{
    margin: 15px 0px 15px 0px;
    padding : 8px 0px;
    width : 100%;
    background-color: var(--btn-blue-bg);
    border-radius: 8px;
    border : none;
    color: var(--text-white);
    font-family: var(--inter-text);
    font-size: .940rem;
}
.post_id_right_body_unfollow_btn
{
    margin: 15px 0px 15px 0px;
    padding : 8px 0px;
    width : 100%;
    background-color: var(--black-700);
    border-radius: 8px;
    border : none;
    color: var(--text-white);
    font-family: var(--inter-text);
    font-size: .940rem;
}
.post_id_right_body_info_container
{
    padding: 10px 0px 25px 0px;
    display: flex;
    flex-direction: column;
}
.post_id_right_body_info_heading
{
    font-size: .860rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.015rem;
    font-family: var(--ff-san);
    color : var(--black-300);
}
.post_id_right_body_info_content
{
    padding : 4px 0px 0px 0px;
    font-size: .950rem;
    font-weight: 400;
    font-family: var(--ff-san);
    color : var(--black-200);
}
.post_id_right_user_post_container
{
    margin : 25px 0px;
    padding : 20px 15px;
    border-radius: 6px;
    background-color:var(--box-bg);
    /* border : 1px solid var(--black-100); */
}
.post_id_right_user_post_heading
{
    padding-bottom: 15px;
    font-family: var(--ff-san);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black-050);
    letter-spacing: 0.010rem;
    border-bottom: 1px solid var(--black-700);
}
.post_id_right_user_post_list_container
{
    margin : 10px 0px;
}
.post_id_right_user_post_list_container > .user_post_list
{
    padding : 10px 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    /* border-radius: 6px; */
}
.post_id_right_user_post_list_container > .user_post_list.border_active
{
   border-bottom: 1px solid var(--dark-border);
}
.post_id_right_user_post_list_container > .user_post_list:hover
{
    cursor: pointer;
}
.post_id_right_user_post_list_container > .user_post_list:hover  .post_heading
{
    color : var(--text-blue);
}

.post_id_right_user_post_list_container > .user_post_list > .post_heading
{
    font-family: var(--ff-san);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.020rem;
    color : var(--black-100);
    transition: 0.4s all ease-in-out;
}
.post_id_right_user_post_list_container > .user_post_list > .tag_container
{
    padding : 8px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.post_id_right_user_post_list_container > .user_post_list > .tag_container > .tagName
{
    padding-right: 8px;
    font-family: var(--ff-san);
    font-size: .9rem;
    font-weight: 400;
    color : var(--black-300);
}


@media(max-width: 500px) {
    .post_id_right_container{ margin-top : 30px; }
}

@media(max-width: 800px) {
    .post_id_left_container{display: none;}
    .post_id_middle_container{padding : 10px 9px}
}
