.user_top_banner
{
    background-color: var(--black-700);
    height : 180px;
}

.user_top_info_container
{
    margin-top: -60px;
    padding : 10px 15px 20px 15px;
    background-color: var(--header-bg);
    border-radius: 6px;
    box-shadow: 0 10px 10px -10px rgb(0 64 128 / 20%);
}
.user_top_info_profile
{
    position: absolute;
    top : 190px;
    border-radius: 50%;
    width : 100px;
    height : 100px;
    left: 46.4%;
    z-index: 30;
    transform: translate(0%, -50%);
}
.user_top_info_username
{
    padding : 0px 0px 15px 0px;
    font-size: 1.7rem;
    font-family: var(--ff-san);
    font-weight: 700;
    text-align: center;
    color : var(--black-800);
}
.user_top_info_follow_btn
{
    display: flex;
    margin-left: auto;
    padding : 10px 13px;
    font-family: var(--inter-text);
    font-size: .950rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color : var(--text-white);
    background-color: var(--btn-blue);
    border: none;
    border-radius: 6px;
}
.user_top_info_description
{
    padding : 5px 0px 10px 0px;
    font-size: 1rem;
    line-height: 30px;
    font-family: var(--ff-san);
    font-weight: 400;
    text-align: center;
    word-spacing: 2px;
    color : var(--black-800);
}
.user_top_info_highlight_container
{
    border-top: 1px solid var(--black-050);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 7px 0px;
    padding : 20px 0px 10px 0px;
}
.user_top_info_highlight_info
{
    margin-right: 10px;
    display: flex;
}
.user_top_info_highlight_icon
{
    width : 17px !important;
    color : var(--black-600) !important;
}
.user_top_info_highlight_text
{
    padding-left: 13px;
    font-size: .9rem;
    font-family: var(--ff-san);
    font-weight: 400;
    color : var(--black-800);
}

/* left panel */

.user_left_info_container
{
    margin: 25px 0px;
}
.user_left_post_data_container
{
    border : 1px solid var(--black-100);
    background-color: var(--header-bg);
    border-radius: 6px;
    padding : 0px 7px;
}
.user_left_post_data_info_container
{
    margin : 10px 0px;
    padding : 8px 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.user_left_post_data_info_container:hover
{
    background-color: var(--black-050);
}
.user_left_post_data_info_container:hover > .icon
{
    color : var(--text-blue) !important;
}
.user_left_post_data_info_container:hover > .text
{
    color : var(--text-blue) !important;
}
.user_left_post_data_info_container.active > .icon
{
    color : var(--text-blue) !important;
}
.user_left_post_data_info_container.active > .text
{
    color : var(--text-blue) !important;
}
.user_left_post_data_info_container > .icon
{
    width : 17px !important;
    font-weight: 800;
    color : var(--black-600) !important;
    transition: 0.4s all ease-in-out;
}
.user_left_post_data_info_container > .text
{
    padding-left: 13px;
    font-size: .930rem;
    font-family: var(--ff-san);
    font-weight: 500;
    color : var(--black-800);
    transition: 0.4s all ease-in-out;
}
