.user_top_banner
{
    background-color: var(--body-bg);
    height : 140px;
}

.user_top_info_container
{
    margin-top: -60px;
    padding : 10px 15px 20px 15px;
    background-color: var(--header-bg);
    border-radius: 6px;
    /* border : 1px solid var(--black-100); */
    box-shadow: 0 10px 10px -10px rgb(0 64 128 / 20%);
}
.user_top_info_profile
{
    position: absolute;
    top : 145px;
    border-radius: 50%;
    width : 100px;
    height : 100px;
    left: 50%;
    z-index: 30;
    transform: translate(-50%, -50%);
}
.user_top_info_username
{
    padding : 0px 0px 15px 0px;
    font-size: 1.7rem;
    font-family: var(--ff-san);
    font-weight: 700;
    text-align: center;
    color : var(--black-050);
}
.user_top_info_follow_btn
{
    display: flex;
    margin-left: auto;
    padding : 10px 13px;
    font-family: var(--inter-text);
    font-size: .950rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color : var(--text-white);
    background-color: var(--btn-blue-bg);
    border: none;
    border-radius: 6px;
}
.user_top_info_follow_btn:disabled
{
    background-color: var(--black-200);
    color: var(--black-900);
}
.user_top_info_description
{
    padding : 5px 0px 10px 0px;
    font-size: 1.030rem;
    line-height: 30px;
    font-family: var(--ff-san);
    font-weight: 400;
    text-align: center;
    word-spacing: 2px;
    color : var(--black-100);
}
.user_top_info_highlight_container
{
    border-top: 1px solid var(--black-700);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 7px 0px;
    padding : 20px 0px 10px 0px;
}
.user_top_info_highlight_info
{
    margin-right: 10px;
    display: flex;
}
.user_top_info_highlight_icon
{
    width : 17px !important;
    color : var(--black-100) !important;
}
.user_top_info_highlight_text
{
    padding-left: 13px;
    font-size: .9rem;
    font-family: var(--ff-san);
    font-weight: 400;
    color : var(--black-100);
}

/* left panel */

.user_left_info_container
{
    margin: 25px 0px;
}
.user_left_post_data_container
{
    /* border : 1px solid var(--black-100); */
    background-color: var(--header-bg);
    border-radius: 6px;
    padding : 5px 7px;
}
.user_left_post_data_info_container
{
    margin : 10px 0px;
    padding : 8px 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.user_left_post_data_info_container:hover > .icon
{
    color : var(--text-blue) !important;
}
.user_left_post_data_info_container:hover > .text
{
    color : var(--text-blue) !important;
}
.user_left_post_data_info_container.active > .icon
{
    color : var(--text-blue) !important;
}
.user_left_post_data_info_container.active > .text
{
    color : var(--text-blue) !important;
}
.user_left_post_data_info_container > .icon
{
    width : 17px !important;
    font-weight: 800;
    color : var(--black-100) !important;
    transition: 0.4s all ease-in-out;
}
.user_left_post_data_info_container > .text
{
    padding-left: 13px;
    font-size: .930rem;
    font-family: var(--ff-san);
    font-weight: 500;
    letter-spacing: 0.020rem;
    color : var(--black-100);
    transition: 0.4s all ease-in-out;
}

/* user middle panel */

.user_middle_post_list_container
{
    margin: 25px 0px;
}
.user_middle_post_success
{
    margin: 30px 0px 0px 0px !important;
}

/* user list info */

.user_middle_list_container
{
    padding : 15px 5px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--black-900);
    transition: 0.4s all ease-in-out;
}
.user_middle_list_container a
{
    text-decoration: none;
}
.user_middle_list_container:hover
{
    background-color: var(--header-bg);
}
.user_middle_list_container:hover > a > .username:hover
{
    color : var(--text-blue);
    cursor: pointer;
}
.user_middle_list_container:hover > .follow_btn:hover
{
    background-color: var(--btn-blue-bg);
}
.user_middle_list_container > .profile
{
    width : 35px;
    height: 35px;
    border-radius: 50%;
}
.user_middle_list_container > a > .username
{
    padding-left: 10px;
    font-family: var(--inter-text);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color : var(--black-200);
    transition: 0.4s all ease-in-out;
}
.user_middle_list_container > .follow_btn
{
    margin-left: auto;
    padding : 7px 10px;
    background-color: transparent;
    border: 1px solid var(--black-800);
    border-radius: 6px;
    font-size: 0.9rem;
    background-color: var(--black-750);
    color : var(--black-150);
    transition: 0.4s all ease-in-out;
}

@media(max-width:350px) {
    .user_top_info_profile{ top : 180px !important; left : 6%; width: 70px; height: 70px; }
}

@media(max-width : 765px) {
    .user_top_info_profile{ top : 155px; width: 70px; height: 70px; }
    .user_top_info_username{text-align: center;}
    .user_top_info_description{text-align: center;}
    .user_top_info_highlight_container{justify-content: flex-start;}
}
